{% extends "layout2.html" %}

{% block title %}
Page {{ page }}
{% endblock %}

{% block body %}

	<div class="container">
		<h3>Search Results for keyword "{{search_text}}": Page {{ page }} | No. of results : {{total_results}}</h3>
			<div class="row">
				<div class="col-sm-3"><b>Result No.</b></div>
				<div class="col-sm-3"><b>ISBN</b></div>
				<div class="col-sm-3"><b>BOOK</b></div>
				<div class="col-sm-3"><b>Review</b></div>
			</div>
		{% for book in books %}
			<div class="list-group">
				<div class="list-group-item">
					<div class="row">
						<div class="col-sm-3">{{ book.searchid }}</div>
						<div class="col-sm-3">{{ book.isbn }}</div>
						<div class="col-sm-3">{{ book.title }} by {{ book.author }}, {{ book.year }}</div>
						<div class="col-sm-3"><a href="{{ url_for('review', isbn=book.isbn) }}">Review</a></div>
					</div>
				</div>
			</div>
		{% endfor %}

	</div>
	{% if page == 1 %}
		<a href="{{ url_for('next', pageno=page+1,search_text=search_text)}}"> Next Page</a>
	{% elif (total_results/ 20) - page < 1 %}
		<a href="{{ url_for('next', pageno=page-1, search_text=search_text)}}"> Previous Page</a>
	{% else %}
		<a href="{{ url_for('next', pageno=page-1, search_text=search_text)}}"> Previous Page</a>
		<a href="{{ url_for('next', pageno=page+1,search_text=search_text)}}"> Next Page</a>
	{% endif %}




{% endblock %}