{% extends "layout.html" %}

{% block title %}
Page {{ page }}
{% endblock %}

{% block body %}

	<div class="container">
		<h2>Search Results : Page {{ page }}</h2>
			<div class="row">
				<div class="col-sm-3"><b>Book No.</b></div>
				<div class="col-sm-3"><b>ISBN</b></div>
				<div class="col-sm-3"><b>BOOK</b></div>
				<div class="col-sm-3"><b>Review</b></div>
			</div>
		{% for book in books %}
			<div class="row">
				<div class="col-sm-3">{{ book.no }}</div>
				<div class="col-sm-3">{{ book.isbn }}</div>
				<div class="col-sm-3">{{ book.title }} by {{ book.author }}, {{ book.year }}</div>
				<div class="col-sm-3"><a href="{{ url_for('review') }}">Review</a></div>
			</div>
		{% endfor %}

	</div>
	<a href="{{ url_for('next', pageno=page-1)}}"> Previous Page</a>
	<a href="{{ url_for('next', pageno=page+1)}}"> Next Page</a>




{% endblock %}