{% extends "layout.html" %}

{% block title %}
Sign Up for a Bookification Account
{% endblock %}

{% block body %}

	<h2>Fill in the details below to register for Bookification</h2>
		<form action="{{ url_for('newuser') }} " method="post">
			<div class="form-group">
				<input class="form-control" name="name" placeholder="name" required>
			</div>
			<div class="form-group">
				<input class="form-control" name="username" placeholder="username" required>
			</div>
			<div class="form-group">
				<input class="form-control" type="password" name="password" placeholder="password" required>
			</div>
			<div class="form-group">
				<button class="btn btn-primary">Register</button>
			</div>
		</form>


{% endblock %}